.banner {
  /* height: 100%; */
  width: 100%;
  max-width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.banner-1{
  background-image: url('/assets/images/home.jpg');
  height: 100vh;
}

.title-large{
  font-size: 100px;
}

.title-bottom{
  position: absolute;
  padding-top: 480px;
}

.homepage_btn_wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}